@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/signup">Let's start to review this final exam from Question 1(Sign Up Page)</a>.</p>
</div>
